@model Hospital_Management.Models.MainModel
@{
    ViewBag.Title = "Patient Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

<div class="card card-custom">
    <div class="alert font-size-h3 text-center" style="background-color:#2ac9bb; color:white; font-family: Georgia, serif">
        Patient Master
    </div>
    

    <div class="card-body">
        @using (Html.BeginForm("SavePatient", "Hospital", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "form_sample_2" }))
        {
            <input type="hidden" id="Id" name="Id" value="@Model.Patient_Master.Patient_Id  " />
            <div class="form-group row">
                <div class="col-lg-4">
                    <label>Patient Name<span style="color:red;">*</span>:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                        <input type="text" placeholder="Enter Patient Name" class="form-control" name="Patient_Name" id="Patient_Name" value="@Model.Patient_Master.Patient_Name" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Age <span style="color:red;">*</span>:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-chart-bar"></i></span></div>
                        <input type="text" placeholder="Enter Age" class="form-control" name="Age" id="Age" value="@Model.Patient_Master.Age" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Sex :<span style="color:red;"></span> </label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-users"></i></span></div>
                        @Html.DropDownList("drpsex", (SelectList)ViewBag.sex, "Select Sex", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-4">
                    <label>Mobile No <span style="color:red;">*</span>:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-mobile"></i></span></div>
                        
                        <input   type="text" maxlength="10" pattern="\d{10}" onkeypress="return isNumberKey(event)" class="form-control" name="MobileNo" id="MobileNo" value="@Model.Patient_Master.MobileNo" required  />
                    </div>
                </div>
                <div class="col-lg-8">
                    <label> Address <span style="color:red;">*</span>:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-location-arrow"></i></span></div>
                        <input type="text" placeholder="Enter Address" class="form-control" name="Address" id="Address" value="@Model.Patient_Master.Address" required />
                    </div>
                </div>
            </div>





            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7">
                        <button type="submit" class="btn" style="background-color:#2ac9bb; color:white; width:200px"> <span class="fa fa-save"></span> @ViewBag.buttontitle</button>
                        &nbsp;&nbsp;
                        <a href="/Hospital/Patient?Id=00000000-0000-0000-0000-000000000000" class="btn btn-danger"><span class="fa fa-times"></span> Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="card-body">
        @{Html.RenderPartial("~/Views/HospitalPartial/_Patient.cshtml", @Model);}
    </div>

</div>

