@model Hospital_Management.Models.MainModel

<!--Data Table-->
<table class="table table-striped- table-bordered table-hover table-sm" id="table_rej">
    <thead>
        <tr>
            <th style="width:5%; text-align:center;">S.No. </th>
            <th> Service Type </th>
            <th style="width:20%;"> Service Name </th>
            <th style="width:20%;"> Price </th>
            <th style="width:20%;"> Discount </th>
            <th> Unit </th>
            <th hidden> Unit Value</th>
            <th> Paid Amount </th>
            <th hidden> Paid Value </th>
        </tr>
    </thead>
    <tbody>
        @{
            int SNo = 0;
        }
        @foreach (var item in Model.Service_type_MasterList)
        {
            SNo++;
            <tr class="odd gradeX">
                <td align="center"> @SNo </td>
                <td> @item.ServiceType </td>
                <td> @item.ServiceName </td>
                <td> @item.Price </td>
                <td> @item.Discount </td>

                <td> <input type="number" class="form-control" id="unit_@item.ServiceId" name="unit_@item.ServiceId" value="@item.Unit" /> </td>
                <td hidden> <input type="number" class="form-control" id="unitValue_@item.ServiceId" name="unitValue_@item.ServiceId" value="@item.Unit" /> </td>
                <td> <input type="number" class="form-control" id="amt_@item.ServiceId" name="amt_@item.ServiceId" value="@item.PaidAmount" /> </td>
                <td hidden> <input type="number" class="form-control" id="amtValue_@item.ServiceId" name="amtValue_@item.ServiceId" value="@item.PaidAmount" /> </td>
            </tr>
        }
    </tbody>
</table>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<br />

<script>

    $('#table_rej').dataTable({
        "bPaginate": false,

        "paging": false,
        "ordering": false,
        "info": false
    });


</script>

