@model Hospital_Management.Models.MainModel

<table class="table table-striped- table-bordered table-hover table-checkable table-sm" id="table_pend">
    <thead>
        <tr>
            <th style="width:2%; text-align:center">S.No. </th>
            <th> Patient Name </th>
            <th> Patient Id </th>
            <th> OPD No </th>
            <th> Doctor </th>
            <th style=" text-align:center">Payment Status </th>
            <th> Created On </th>
            
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @{
            int SNo = 0;
        }
        @foreach (var item in Model.IPD_Main_DetailsList.Where(p => p.Status == "Pending").ToList())
        {
            SNo++;
        <tr class="odd gradeX">
            <td align="center"> @SNo </td>
            <td> @item.Patient_Name </td>
            <td> @item.Patient_UID </td>
            <td> @item.IPD_No </td>
            <td> @item.Doc_Name </td>
            <td align="center"><span style="color:white; padding:4px ; background-color:#F4B400; border-radius:5px;"><span style="padding-right:2px; padding-left:2px; "> @item.Status </span></span></td>
            <td> @item.CreatedOn.ToString("dd-MM-yyyy") </td>
            
            <td>
                @*<a href="/Hospital/AddOPD?Id=@item.Doc_Id  " class="btn btn-icon btn-warning btn-xs mr-1"><i class="fa fa-edit" data-container="body" data-toggle="tooltip" data-placement="top" title=""></i></a>*@
                @*<a href="/Hospital/DeleteDoctor?Id=@item.Doc_Id  " onclick=" return confirm('Are You Sure ! Do you Want to delete ?')" class="btn btn-icon btn-youtube btn-xs mr-1"><i class="flaticon-delete" data-container="body" data-toggle="tooltip" data-placement="top" title=""></i></a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

<br />

 